<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal Connect</title>
    <link rel="stylesheet" href="./css/style.css"/>
  </head>
  <body>
    <div class="background-image"></div>
    <div class="form-wrapper">
      <h2>WELCOME TO PORTAL</h2>
      <form action="#">
        <div class="form-control">
          <input type="text" required />
          <label>Email or Mobile number</label>
        </div>
        <div class="form-control">
          <input type="password" required />
          <label>Password</label>
        </div>
        <button type="submit">LOGIN</button>
        <div class="form-help">
          <div class="remember-me">
            <input type="checkbox" id="remember-me" />
            <label for="remember-me">Remember me</label>
          </div>
          <a href="#">Need help?</a>
        </div>
      </form>
    </div>
  </body>
</html>
